<h4 class = "text-center"> Booking Form </h4>

<form class = "form1 container" #form = "ngForm" (ngsubmit) = "saveform(form.value)">
    <div class="form-group col-md-3">
        <label for="userName" class="font-weight-bold">User Name<sup class="text-danger">*</sup></label>
        <input type="text" class="form-control" name="userName" ngModel #userName="ngModel" pattern="^[a-zA-Z][a-zA-Z ]*$" id="userName" placeholder="Name" required>
        <span class="text-danger" *ngIf="userName.errors && (userName.dirty || userName.touched)">
            <p class="small m-0" *ngIf="userName.errors.required">Name is required</p>
            <p class="small m-0" *ngIf="userName.errors.pattern">Name cannot contain numbers and special characters</p>
         </span>
    </div>
<br /><br />
<div class = "clearfix"></div>
<div class="form-group col-md-3">
    <label for="email" class="font-weight-bold">Email<sup class="text-danger">*</sup></label>
    <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email" ngModel #email="ngModel" class="form-control" id="email" placeholder="Email" required>
    <span class="text-danger" *ngIf="email.errors && (email.dirty || email.touched)">
        <p class="small m-0" *ngIf="email.errors.required">Email is required</p>
        <p class="small m-0" *ngIf="email.errors.pattern">Email should match the format (abc@abc.com) </p>
     </span>
</div>
<br /><br />
<div class = "clearfix"></div>
<div class = "clearfix"></div>
<div class="form-group col-md-3">
    <label for="phoneNumber" class="font-weight-bold">Phone Number<sup class="text-danger">*</sup></label>
    <input type="text" class="form-control" pattern="^[0-9]{10}$" id="phoneNumber" name="phoneNumber" ngModel #phoneNumber="ngModel" placeholder="Phone Number" required>
    <span class="text-danger" *ngIf="phoneNumber.errors && (phoneNumber.dirty || phoneNumber.touched)">
        <p class="small m-0" *ngIf="phoneNumber.errors.required">Phone number is required</p>
        <p class="small m-0" *ngIf="phoneNumber.errors.pattern">Phone number contain only 10 numbers - format (8977008**) </p>
     </span>
</div>
<br /><br />
<div class = "clearfix"></div>

<div class="form-row">
    <div class="form-group col-md-3" *ngFor="let cloneInput of itemDetails; let i=index">
        <label for="numberOfAttendee{{i+1}}" class="font-weight-bold">Name of the attendee {{i+1}} <sup class="text-danger">*</sup></label>
        <input type="text" class="form-control" pattern="^[a-zA-Z][a-zA-Z ]*$" id="numberOfAttendee{{i+1}}" name="numberOfAttendee{{i+1}}" [(ngModel)]="itemDetails[i].numberOfAttendee" #numberOfAttendee="ngModel" placeholder="Name of the attendee{{i+1}}" required>
        <span class="text-danger" *ngIf="numberOfAttendee.errors && (numberOfAttendee.dirty || numberOfAttendee.touched)">
            <p class="small m-0" *ngIf="numberOfAttendee.errors.required">Attendee Name is required</p>
            <p class="small m-0" *ngIf="numberOfAttendee.errors.pattern">Attendee Name cannot contain numbers and special characters</p>
         </span>
    </div>
</div>
<br /><br />
<div class = "clearfix"></div>
<button type = "submit" class = "btn btn-success" [disabled] = "form.invalid" style = "float:left;"> Submit </button>&nbsp;&nbsp;&nbsp;&nbsp;
<div class = "btn btn-warning" routerLink ="/listing"> Cancel </div>
</form>
