.form1{
    border:2px solid #ddd;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

input.ng-invalid.ng-touched{
    border:1px solid red;
    box-shadow: 0 0 13px inset rgba(255, 0, 0, 0.09);
}

input{
    width:250px;
}